<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a new Dojo!</title>
</head>
<body>
    <h1>New Dojo</h1>
    <form action="/dojos/create" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
        Branch: <input type="text" name="dojo[branch]"><br>
        Street: <input type="text" name="dojo[street]"><br>
        City: <input type="text" name="dojo[city]"><br>
        State: <input type="text" name="dojo[state]"><br><br>
        <input type="submit" value="Create"><br>
    </form>

    <br><a href="/dojos">Go Back</a>
</body>
</html>